
/* Header - this is step 1 */

header {
  display: flex;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.logo span {
  color: MediumAquamarine;
}

header nav {
  padding-right: 40px;
}

a {
  color: black;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}


/* Main Content Container - this is step 2 */

.content {
  display: flex;
  padding-top: 120px;
}

div {
  border: 1px solid black;
}

/* Column widths */

.column.large {
  width: 630px;

}
.one {
  background-image: url(C:/Users/cristina.babonea/PROJECTS/MyTimes/resources/images/img-story-main.png);
  padding: 90px;
  display: flex;
}
#mother{
  color: white;
  font-family: Georgia;
  font-size: 30px;
}
.three {
  background-image: url(C:/Users/cristina.babonea/PROJECTS/MyTimes/resources/images/img-story-2-fall.png);
  color: white;
  font-family: Georgia;
  font-size: 30px;
  display: flex;
}
.five{
  background-image: url(C:/Users/cristina.babonea/PROJECTS/MyTimes/resources/images/hipster.png);
  color: white;
  font-family: Georgia;
  font-size: 30px;
  display: flex;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
