header{
  font-family: verdana;
  font-size: 14px;
  position: fixed;
  display:flex;
  width: 100%;
  border-bottom: 1px solid black;
  justify-content: space-between;
  background-color: white;
}
.logo{
  color:mediumaquamarine;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.logo span {
  padding-left: 15px;
}
nav span{
  display:inline-block;
  padding: 20px 10px;
}
nav{
  padding-right: 40px;
}
p{
  font-family: Georgia;
  font-size: 17px;
}
h2{
  display:flex;
  font-family: Georgia;
  font-size: 30px;
}
.main{
  border: 1px solid black;
  display: flex;
  padding: 80px 40px;
}
.big{
  padding-top: 30px;
  width: 630px;
  display: flex;
  flex-wrap:wrap;
  margin-right: 32px;
  flex-direction: column;
}
.mother span{
  font-size: 40px;
  color:white;
  font-family: Georgia;
  padding: 80px 20px;
}
.mother-img{
  background-image: url("C:/Users/cristina.babonea/PROJECTS/MyTimes/resources/images/img-story-main.png");
  display: flex;
  height: 300px;
}
.earth{
  background-image: url("C:/Users/cristina.babonea/PROJECTS/MyTimes/resources/images/img-story-2-fall.png");
  color:white;
  font-size: 30px;
  height: 300px;
  text-align: center;
  margin-top: 20px;
}
.earth p{
  font-family: Georgia;
  font-size: 30px;
  padding-top: 70px;
}
.research{
  background-image: url("C:/Users/cristina.babonea/PROJECTS/MyTimes/resources/images/hipster.png");
  color:white;
  font-size: 30px;
  height: 300px;
  margin-top: 20px;
}
.research p{
  font-family: Georgia;
  font-size: 30px;
  text-align: center;
  padding-top: 70px;
}
.stories{
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}
.story{
  display: flex;
  width: 300px;
  flex-direction: column;
}
.burger{
  height: 250px;
}
.orca{
  height: 250px;
}
.medium{
  width: 300px;
  display: flex;
  margin-right: 32px;
  flex-direction: column;

}
.cat{
  background-image: url("C:/Users/cristina.babonea/PROJECTS/MyTimes/resources/images/cat.png");
  color:white;
  height: 300px;
  text-align: center;
}
.cat p{
  font-family: Georgia;
  font-size: 30px;
  padding-top: 90px;
}
.small{
  border: 1px solid black;
  width: 240px;
  display: flex;
  flex-direction: column;
}
